.spage {
  background-color: #1a1a1a;
  color: #FFFFFF; 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}
.pageContainer {
  overflow: auto;
  margin: -1rem;
  padding: 0;
  box-sizing: border-box;
}
.sbox1,
.sbox2 {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border-radius: 0; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.sbox1 {
  background-color: #1a1a1a;
}

.sbox2 {
  background: linear-gradient(51deg, #2c2c2c 0%, #222222 83.63%); 
}

.sbox2 h2 {
  color: #FFFFFF; 
}

@media screen and (min-width: 1024px) {
  .spage {
    flex-direction: row; 
    border-radius: 0; 
  }

  .sbox1,
  .sbox2 {
    height: 100%;
    border-radius: 0; 
  }

  .sbox1 {
    order: 2; 
  }

  .sbox2 {
    order: 1; 
    border-top-right-radius: 90px; 
    border-bottom-right-radius: 90px; 
  }
}

.signUpText{
  cursor: default;
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.usernameInput,
.emailInput,
.passwordInput,
.sconfirmpasswordbox {
  margin-top: 0.5rem;
  cursor: text;
  color: #FFFFFF; 
  font-family: 'Open Sans', sans-serif;
  background-color: #333333;
  border: none;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: lighter;
  padding-left: 1rem;
}

.usernameInput:focus,
.emailInput:focus,
.passwordInput:focus,
.sconfirmpasswordbox:focus {
  outline: 0px solid rgba(255, 255, 255, 0);
}

.showHidePasswordButton {
  margin-top: 0.5rem;
  cursor: pointer;
}

.showHidePasswordButton button {
  background: none;
  border: none;
  cursor: grab;
  font-family: 'Open Sans, sans-serif';
  color: #FFFFFF; 
  text-decoration: underline;
  outline: none;
}

.signupbutton{
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: lighter;
  color: #ffffff; 
  background-color: #FF9900; 
  text-align: center;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

.signupbutton:hover{
  background-color: #e08000;
}

.llogoinbox {
  object-fit: cover;
  max-height: 7rem;
  width: auto;
}

.lwelcomeText {
  text-align: center;
  color: #ffffff; 
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-top: 0.5rem;
}

.lsignupbox {
  object-fit: cover;
  cursor: pointer;
  font-family: 'Open Sans, sans-serif';
  font-weight: lighter;
  color: #ffffff;
  margin-top: 0.5rem;
  text-align: center;
  border: 1px solid #ffffff; 
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2); 
  color: #ffffff; 
  transition: background-color 0.3s ease, color 0.3s ease; 
} 

.lsignupbox:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000; 
}
