.pageStyle {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  flex-direction: column;
}
.pageContainer {
  overflow: auto;
  margin: -1rem;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #444444;
  /* Darker background */
  padding: 30px;
  min-width: 48rem;
  border-radius: 8px;
  color: #ffffff;
  /* Light text */
  margin-top: 1rem;
}

.container .label {
  font-size: larger;
  font-weight: bold;
  color: #77ce9b;
  /* Accent color */
  margin-bottom: 10px;

}

.container input {
  width: 95%;
  padding: 10px;
  border: 1px solid #666666;
  /* Darker border */
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #555555;
  /* Darker input background */
  color: #ffffff;
  /* Light text for input */

}

.container .submitButton,
.container .cancelButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 1rem;
}

.container .submitButton {
  background-color: #77ce9b;
  /* Accent color */
  color: #ffffff;
  /* Light text */
}

.container .submitButton:hover {
  background-color: #63b68c;
  /* Darker hover color */
}

.container .cancelButton {
  background-color: #e57373;
  /* Cancel button color */
  color: #ffffff;
  /* Light text */
}

.container .cancelButton:hover {
  background-color: #d24d4d;
  /* Darker hover color */
}

.value {
  word-break: break-all;
  display: 'flex';
  align-items: center;
}